<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067603588420-bm66ugh6qgnffu7bspih3r76e1m8ur5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067603588420-bm66ugh6qgnffu7bspih3r76e1m8ur5m</string>
	<key>API_KEY</key>
	<string>AIzaSyBdJctciTlCSgMIV7xdQDBceJepuJhXcU4</string>
	<key>GCM_SENDER_ID</key>
	<string>1067603588420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>z10.iOS18.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-9b016</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-9b016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067603588420:ios:c8aa88b3247be737a79311</string>
</dict>
</plist>